<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/generalize.css">
    <link rel="stylesheet" href="/css/incidentes.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incidentes</title>
</head>
<body>
    <div class="header">
        <div class="logo" onclick="navegarAInicio()"><img  src="/img/logo.png" alt=""></div>
        <nav><a href="/comunidades">Comunidades</a></nav>
    </div>
    <div class="container">
        <h1>Incidentes</h1>
        <div class="searcher-container">
            <div class="searcher">
                <div class="form-group">
                    <label for="establecimiento searcher-label">Establecimiento:</label>
                    <input type="text" id="establecimiento" placeholder="">
                    <ul class="establecimientos-list" id="suggestions">
                    </ul>
                </div>
            </div>
            <div class="searcher">
                <div class="form-group ">
                    <label for="servicio searcher-label">Servicio:</label>
                    <input type="text" id="servicio" placeholder="">
                    <ul class="servicios-list" id="suggestions">
                    </ul>
                </div>
            </div>
            <div class="searcher">
                <div class="form-group">
                    <label for="comunidad searcher-label">Comunidad:</label>
                    <input type="text" id="comunidad" placeholder="">
                    <ul class="comunidads-list" id="suggestions">
                    </ul>
                </div>
            </div>
            <div class="checkbox-container">
                <label for="abiertos"> Abiertos</label>
                <input type="checkbox" id="abiertos" name="abiertos" checked="true">
            </div>
            <div class="search-button-container">
                <button onclick="buscarIncidentes()" type="submit" id="boton-buscar">Buscar</button>
            </div>
        </div>
        <div class="table-container">
            <div class="table">
                <div class="table-header">Establecimiento</div>
                <div class="table-header">Servicio</div>
                <div class="table-header">Comunidad</div>
                <div class="table-header">Observaciones</div>
                <div class="table-header img-container">Dar de Baja</div>

                {{#each incidentes}}
                    <div class="table-row">{{this.establecimiento}}</div>
                    <div class="table-row">{{this.servicio}}</div>
                    <div class="table-row">{{this.comunidad}}</div>
                    <div class="table-row">{{this.observaciones}}</div>
                    <div class="table-row img-container ">
                        {{#if this.estaAbierto}}
                        <div class="tick_container">
                            <img class="tick tick_main" src="/img/tick.png" alt="">
                            <img class="tick tick_hover" src="/img/tick_hover.png" alt="" onclick="darDeBaja({{this.id}})">
                        </div>
                        {{else}}
                        <div class="tick_container"></div>
                        {{/if}}
                    </div>
                {{/each}}
                </div>
        </div>

        {{#if (estaVacia incidentes)}}
            <div class="no-result" >No se encontraron incidentes</div>
        {{/if}}
    
        <div class="button-container">
            <button onclick="location.href='/incidentes/alta'" id="boton-navigate-alta-incidente">Dar de alta un incidente</button>
        </div>
    </div>
<script src="/js/incidentes.js"></script>
</body>
</html>